/* Here you can add any extra CSS to override the default styling. Have a look
 * at the supplied CSS files for ideas. This CSS file will be applied to all
 * pages, unless you modify the default base template (templates/layout.html).
 *
 * You can refer to images in the CSS directly using paths relative to the css
 * directory, for example:
 *   url('custom/image.png') to refer to /css/custom/image.png
 */

table.ft.statistics td {
	border-top: black 1px solid;
	padding-right: 18px;
	padding-left: 5px;
}

/*  Define the background color for all the ODD table columns  */
table.ft tr td:nth-child(odd){
	background: #EFEFEF;
}

/*  Define the background color for all the EVEN table columns  */
table.ft tr td:nth-child(even){
	background: #CFCFCF;
}